header {
	width: 100%;
	height: 100px;
	background-color: #DBF5E8;
	margin-bottom: 10px;
	text-align: center;
}

h4,h2 {
	color: blue;
}

body {
	background-color: #F5DBDB;
}
footer {
	margin-top: 10px;
	text-align: center;
	background-color: #DBF5E8;
	color: blue;
	clear: both;
	width: 100%;
	height: 100px;
	text-align: center;
}

article {
	background-color: #A6E4A0;
	position: relative;
	margin: auto;
	width: 1000px;
	height: 1000px;
}

#foto {
	background-color: #DBF5E8;
	position: relative;
	float: left;
	width: 440px;
	height: 600px;
	margin: 10px;
}

#articulo {
	background-color: #DBF5E8;
	position: relative;
	float: right;
	width: 433px;
	height: 632px;
	margin: 10px;
	padding-left: 15px;
	padding-right: 10px;
}

#datos {
	margin: 10px;

	background-color: #DBF5E8;

	height: 300px;
	clear: both;
	padding-left: 15px;
	padding-top: 15px;
}

p {
	text-align: justify;
	font-family: Tahoma Verdana;
}

li {
	display: inline;
}

ul {
	text-align: left;
}